

 /*Top Section Image Slides*/
div#slides {
	display: block;
	position: relative;
	padding:0px calc((100vw - 1200px) / 2);
	background-image: url(../images/site-background-01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 600px;
}

div#slides > span {
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-size: 3em;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

div#slides > span strong {
	font-size: 1.3em;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

/*FORM SECTION*/

div#slides div.inner_form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 7px 7px 0px black;
	position: relative;
}

div#slides div.inner_form > h2 {
	display: block;
	text-align: center;
	margin: 0px;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	background-color: #33485d;
	color:white;
	font-weight: 400;
}

div#slides div.inner_form div.greeting {
	content: "";
	position: absolute;
	top:0px;
	left: 25px;
	width: 100%;
	height: 85%;
	background-color: black;
	background-image: url(../images/like-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:150px 150px;
	opacity: 0;
	z-index: -1;
	transition:all 1s;
}

div#slides div.inner_form div.greeting h2 {
	text-align: center;
	color: white;
	font-size: 3em;

}


div#slides div.inner_form div.form_menu {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 30%;
	border:1px solid orange;

}

div#slides div.inner_form div.form_menu a {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
	color:white;
	font-weight: bold;
}

div#slides div.inner_form div.form_menu a:nth-of-type(1) {
	background-color:rgb(245, 145, 29);
	background-image: url(../images/icon-truck.svg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: auto 35px;
}

div#slides div.inner_form div.form_menu a:nth-of-type(2) {
	margin-top: 25px;
	background-color:#94a4a5;
	background-image: url(../images/icon-airplane.svg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: auto 25px;
}

div#slides div.inner_form div.form_container {
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
	padding-left: 50px;
	width: 550px;
	height:420px;
	overflow: hidden;
	position: relative;
}

div#slides div.inner_form div.form_container form:first-of-type {
	position: absolute;
	top: 0px;
	left: 25px;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset:first-of-type {
	display: inline-block;
	vertical-align: top;
	left: 110%;
	border: none;
	position: relative;
	transition:all 0.8s;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset:first-of-type button {
	display: block;
	margin-top: 30px;
	margin-left: 73%;
	text-align: right;
	background-color: orange;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.6em;
	cursor: pointer;
	font-weight: bold;
}

div#slides div.inner_form div.form_container form:first-of-type button[name="btnBack"]{
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: right;
	background-color: orange;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.6em;
	cursor: pointer;
	font-weight: bold;
	opacity: 0;
}


div#slides div.inner_form div.form_container form:first-of-type fieldset:last-of-type {
	position: absolute;
	top: 0px;
	left: 110%;
	width: 100%;
	height: 50%;
	border: none;
	overflow: hidden;
	visibility: hidden;
	transition:all 0.8s;
}
div#slides div.inner_form div.form_container form:first-of-type fieldset label {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	width: 270px;
	position: relative;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset label select {
	width: 250px;
	height: 45px;
	text-align: center;
	font-size: 1.2em;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset label.checkbox {
	display: inline-block;
	vertical-align: top;
	margin-top: 23px;
	width: 270px;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset label.checkbox span {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset label.checkbox input {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 20px;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset label span {
	display: block;
	font-size: 1.2em;
}

div#slides div.inner_form div.form_container form:first-of-type fieldset label input {
	display: block;
	padding-left: 5px;
	font-size: 1.2em;
	height: 40px;
	width: 240px;
	position: relative;
}


div#slides div.inner_form div.form_container form:first-of-type fieldset label input[type="date"] {
	text-align: center;
	height: 41px;
	line-height: 100%;
	font-size: 1.6em;
}

div#slides div.inner_form div.form_container form:first-of-type div.controls {
	display: none;
	margin-top: -58px;
	width: 533px;
	text-align: right;

}

div#slides div.inner_form div.form_container form:first-of-type div.controls button {
	background-color: orange;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.6em;
	cursor: pointer;
	font-weight: bold;
}


div#slides div.inner_form div.form_container form:first-of-type fieldset.visible {
	visibility: visible;
	left: 0%;
}

/*Second form*/

div#slides div.inner_form div.form_container form:last-of-type {
	position: absolute;
	top: 0px;
	left: 25px;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset:first-of-type {
	display: inline-block;
	vertical-align: top;
	left: 110%;
	border: none;
	position: relative;
	transition:all 0.8s;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset:first-of-type button {
	display: block;
	margin-top: 30px;
	margin-left: 73%;
	text-align: right;
	background-color: orange;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.6em;
	cursor: pointer;
	font-weight: bold;
}

div#slides div.inner_form div.form_container form:last-of-type button[name="btnBack"]{
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: right;
	background-color: orange;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.6em;
	cursor: pointer;
	font-weight: bold;
	opacity: 0;
}


div#slides div.inner_form div.form_container form:last-of-type fieldset:last-of-type {
	position: absolute;
	top: 0px;
	left: 110%;
	width: 100%;
	height: 50%;
	border: none;
	overflow: hidden;
	visibility: hidden;
	transition:all 0.8s;
}
div#slides div.inner_form div.form_container form:last-of-type fieldset label {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	width: 270px;
	position: relative;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset label select {
	width: 250px;
	height: 45px;
	text-align: center;
	font-size: 1.2em;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset label.checkbox {
	display: inline-block;
	vertical-align: top;
	margin-top: 23px;
	width: 270px;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset label.checkbox span {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset label.checkbox input {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 20px;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset label span {
	display: block;
	font-size: 1.2em;
}

div#slides div.inner_form div.form_container form:last-of-type fieldset label input {
	display: block;
	padding-left: 5px;
	font-size: 1.2em;
	height: 40px;
	width: 240px;
	position: relative;
}


div#slides div.inner_form div.form_container form:last-of-type fieldset label input[type="date"] {
	text-align: center;
	height: 41px;
	line-height: 100%;
	font-size: 1.6em;
}

div#slides div.inner_form div.form_container form:last-of-type div.controls {
	display: block;
	margin-top: -58px;
	width: 533px;
	text-align: right;
}

div#slides div.inner_form div.form_container form:last-of-type div.controls button {
	background-color: orange;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 1.6em;
	cursor: pointer;
	font-weight: bold;
}


div#slides div.inner_form div.form_container form:last-of-type fieldset.visible {
	visibility: visible;
	left: 0%;
}






